{% extends 'home/layout.html.twig' %}

{% block title %}Anniv de Mike
{% endblock %}

{% block body %}
    <header class="row justify-content-center gx-0 min-vh-100 d-flex align-items-centers">
        <div class="col-12 position-relative">
            <img src={{asset ('images/bg-home.jpg')}} alt="Fiesta de Miky" class="d-md-none d-block img-fluid text-center" data-aos="zoom-in">
            <div class="d-lg-none d-block position-absolute top-50 start-0 text-light container fw-bold">
                Merci d'avoir cliqué sur ce lien, tu trouveras sur ce site ephemere toutes les informations concernant ma fête d'anniversaire. Oui, oui c'est officiel, je vais être quarantenaire
                <span class="text-center d-block">🙈🙉🙊</span>

            </div>
        </div>

        <div class="bg-miky p-3 justify-content-center row col-lg-6 col-12">
            <div class="col-lg-11 col">
                <h1 class="text-center text-miky">Miky's 40</h1>
                <P class="">Nous t'attendons le
                    <span class="fw-bold">samedi 6 mai 2023</span>, à partir de
                    <span class="fw-bold">19h</span>, afin de partager un repas et finir sur une soirée dansante.
                </p>
                <p>Pour en savoir plus sur le lieu tu peux <a href={{path ("app_plan")}}>cliquer ici</a></p>
                Merci de compléter le formulaire ci-dessous
                {{ form_start(form) }}
                {{form_row(form.prenom)}}
                {{form_row(form.surnom)}}
                <hr style="border: 10px solid grey;
                                                                                                                        border-radius: 5px;">
                {{form_row(form.text)}}
                {{form_row(form.isHere)}}

                {{ form_end(form) }}
            </div>
        </div>
    </header>
{% endblock %}
