{% extends 'home/layout.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('leaflet') }}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('leaflet') }}
{% endblock %}

{% block title %}Plan d'accès{% endblock %}

{% block body %}
    <div class="min-vh-100 flex-column d-flex align-items-center justify-content-evenly bg-plan">
        <div class="">
            <p class="fs-1">Salle des fêtes</p>
            <p>Place verte Guitry</p>
            <span>27510  Vexin-sur-Epte</span>
        </div>
        <div id="map"data-aos="zoom-in"></div>

    </div>
{% endblock %}
