@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");

@media (min-width: 992px) {
  header {
    background-image: url("../../public/images/bg-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.text-miky {
  font-family: "Neonderthaw", cursive;
}
.bg-miky {
  background: rgb(235, 210, 80);
  background: linear-gradient(
    90deg,
    rgba(235, 210, 80, 1) 0%,
    rgba(245, 190, 58, 1) 35%,
    rgba(255, 188, 0, 1) 100%
  );
}

.bg-plan {
  /* background: #dfdbc9; */
  background: linear-gradient(90deg, #cac4b5 0%, #e2c990 35%, #f2d37f 100%);
}

#contact_text {
  height: 5em;
}
#map {
  height: 30em;
  width: 90vw;
}

.text-justify {
  text-align: justify !important;
}
