<nav class="navbar navbar-expand-lg navbar-light bg-light bg-light sticky-top opacity-75">
  <div class="container-fluid">
    <a class="navbar-brand" href={{path ("app_home")}}>{# <img src={{asset ("images/logo.jpg")}} alt="Gateau d'anniversaire" class="img-fluid rounded-circle" style="width:95px"> #} <span class="text-miky text-dark fw-bold">Miky's 40</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{path ('app_home')}}>Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path ('app_plan')}}>Plan d'accès</a>
        </li>
    </div>
  </div>
</nav>